.craftjsContainer{
    background-color: rgba(101, 66, 54, 0.4);
    position: relative;

}

.resizeHandle {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #007bff;
    z-index: 10;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}